{%load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instruction Page</title>
    <link rel="stylesheet" href="{%static 'style1.css' %}">

  </head>
  <body>
    <div class="heading">
      <h1>Instructions</h1>
    </div>
    <div class="content">
      <h2><b>File Format</b></h2>
      <p># All file are in .csv(comma seprated value) format.</p>
      <p># There are five file:</p>
      <ul style="list-style-type:circle;">
        <li>employee_survey_data</li>
        <li>general_data</li>
        <li>manager_survey_data</li>
        <li>in_time</li>
        <li>out_time</li>
      </ul>
      <h3><b>employee_survey_data</b></h3>
      <div class="item">
        <p>It contains four columns:<p>
        <ul style="list-style-type:circle;">
          <li>EmployeeID</li>
          <li>EnvironmentSatisfaction</li>
          <li>JobSatisfaction</li>
          <li>WorkLifeBalance</li>
        </ul>
      </div>
      <h3><b>general_data</b></h3>
      <div class="item">
        <p>It contains four columns:<p>
        <ul style="list-style-type:circle;">
          <li>Age</li>
          <li>Attrition</li>
          <li>BusinessTravel</li>
          <li>Department</li>
          <li>DistanceFromHome</li>
          <li>Education</li>
          <li>EducationField</li>
          <li>EmployeeCount</li>
          <li>EmployeeID</li>
          <li>Gender</li>
          <li>JobLevel</li>
          <li>JobRole</li>
          <li>MaritalStatus</li>
          <li>MonthlyIncome</li>
          <li>NumCompaniesWorked</li>
          <li>Over18</li>
          <li>PercentSalaryHike</li>
          <li>StandardHours</li>
          <li>StockOptionLevel</li>
          <li>TotalWorkingYears</li>
          <li>TrainingTimesLastYear</li>
          <li>YearsAtCompany</li>
          <li>YearsSinceLastPromotion</li>
          <li>YearsWithCurrManager</li>
        </ul>
      </div>
    </div>

  </body>
																						
